<benchmark>
  <link rel="stylesheet" type="text/css" href="{{@BASE}}/benchmark/theme/css/benchmark.css">

  <ul class="bencmark-pannels">
    <li class="panel-params">
      <div class="panel">
        <b>Params:</b> {{@PARAMS?'':'-'}}
        <repeat group="{{ @PARAMS }}" key="{{@key}}" value="{{ @value }}">
          {{ @key }}=>{{@value}}, 
        </repeat>
      </div>
    </li>
    <li class="panel-post">
      <div class="panel">
        <b>Post:</b> {{@POST?'':'-'}}
        <repeat group="{{ @POST }}" key="{{@key}}" value="{{ @value }}">
          {{ @key }}=>{{@value}}, 
        </repeat>
      </div>
    </li>
    <li class="panel-request">
      <div class="panel">
        <b>Request:</b> {{@REQUEST?'':'-'}}
        <repeat group="{{ @REQUEST }}" key="{{@key}}" value="{{ @value }}">
          {{ @key }}=>{{@value}}, 
        </repeat>
      </div>
    </li>
    <li class="panel-session">
      <div class="panel">
        <b>Session:</b> {{@SESSION?'':'-'}}
        <repeat group="{{ @SESSION }}" key="{{@key}}" value="{{ @value }}">
          {{ @key }}=>{{@value}}<br>
        </repeat>
      </div>
    </li>
    <li class="panel-cookie">
      <div class="panel">
        <b>Cookie:</b> {{@COOKIE?'<br>':'-'}}
        <repeat group="{{ @COOKIE }}" key="{{@key}}" value="{{ @value }}">
          {~ if(strpos(@key, 'benchmark_panel_')!==false) 
          print 'reserved: '; 
          ~}
          {{ @key }}=>{{@value}}<br>
        </repeat>
      </div>
    </li>
    <li class="panel-points">
      <div class="panel">
        {{@benchmark.output.detailsLog|raw}}
      </div>
    </li>
    <li>
      <div class="panel main-panel-minimal">
        <ul>
          <li>
            <b>{{@benchmark.output.fullExecTime}} ms</b>,
            <b>{{@benchmark.output.ramUsageMax}}</b>
          </li>
          <li class="benchmark-toggle" data-target="panel-main">
            <b>&#8651</b>
          </li>
        </ul>
      </div>
      <div class="panel main-panel">
        <ul>
          <li data-target="panel-points">
            Time: <b>{{@benchmark.output.fullExecTime}} ms</b>,
            Memory: <b>{{@benchmark.output.ramUsageMax}}</b>,
            Included: <b>{{@benchmark.output.includedFilesCount}}</b>
          </li>
          <li class="benchmark-toggle" data-target="panel-params">
            Params: <b>{{@PARAMS?count(@PARAMS):0}}</b>
          </li>
          <li class="benchmark-toggle" data-target="panel-post">
            Post: <b>{{@POST?count(@POST):0}}</b>
          </li>
          <li class="benchmark-toggle" data-target="panel-request">
            Request: <b>{{@REQUEST?count(@REQUEST):0}}</b>
          </li>
          <li class="benchmark-toggle" data-target="panel-session">
            Session: <b>{{@SESSION?count(@SESSION):0}}</b>
          </li>
          <li class="benchmark-toggle" data-target="panel-cookie">
            Cookie: <b>{{@COOKIE?count(@COOKIE):0}}</b>
          </li>
          <li class="benchmark-toggle" data-target="panel-main">
            <b>&#8651</b>
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <script>
    var benchmarkFatFreeBase = '{{@BASE}}';
    var benchmarkPanelMain = {{@benchmark.output.panel.main}};
    var benchmarkPanelLast = '{{@benchmark.output.panel.last}}';
  </script>
  <script src="{{@BASE}}/benchmark/theme/js/jquery.min.js"></script>
  <script src="{{@BASE}}/benchmark/theme/js/benchmark.js"></script>
</benchmark>